html, body {
  background: #f2f2f2;
  font-family: 'Lato', sans-serif;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
}

.header {
  background-color: black;
}
.search {
  float:right;
}

.search-btn {
  color:#fff;
  background:transparent;
  border-bottom: blue 1px solid;
}

.search-form input {
  background: transparent;
  border:0px;
  border-bottom: 2px solid #fff
  width:200px;
}



.menu {
  background-color: #152230;
  min-height: 40px
}


.menu ul.nav li {
  display: inline-block;
  text-align: center;
}

.menu ul.nav li:hover, .menu ul.nav li.active {
    background: #1a77ff;
}

.menu ul.nav li a {
    color: #fff;

}

.menu ul.nav li a:hover {
    background: transparent;
}

/*Main */

.main {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/newsroom/bass-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:400px;
  color:#fff;

}

.main .date {
  margin-top:35px;
  font-size:16px;
  font-weight:300;
}
.main h1 span{
  font-size:60px;
  border-bottom:5px solid blue;
}


.main p {
  margin-top:20px;
  font-size:20px;

}

/* SUPPORTING */

.supporting h3 {
  padding-top:30px;
}


.supporting .row {
  margin:50px 0;
}

.supporting ul {
  list-style:none;
  margin:40px 0 40px 0;
  padding:0;

}

.supporting li {
  margin: 0 0 20px 0;
}
.supporting .row .col-md-8 {
  background: #fff;
}
.supporting .row .col-md-4 {
  background:#152230;
  color:#fff;
}

li span {
  font-size:18px;
  border-bottom: 3px solid #1a77ff;
}

.supporting .row .col-md-12 {
  padding:0;

}

.col-md-12 img {
  width:100%;
}

.footer li {
  display:inline-block;
}
